body {font: 1em/150% Helvetica, Arial, sans-serif; padding: 1em; margin: 0 auto; max-width: 33em;}
@media (min-width: 70em) { body { font-size: 130%;}}

h1 {font-size: 220%;}

div p, #id:first-line {background-color: red; border-radius: 3px;}
div p {margin: 0; padding: 1em;}
div p + p {padding-top: 0;}
span {
  border: 1px solid black;
  background-color: lime;
}
p {
  font-weight: bold;
  color: blue; 
  font-size: 200%;
}
.box {
  width: 500px;
  width: calc(100% - 50px);
}



    
     
     
   